<!DOCTYPE html>
<html>

<head>
	<title>Query Results</title>
</head>

<body>
	<h1>ClickHouse Query Results</h1>
	<button id="queryButton">Run Query</button>
	<div id="resultTable">
	</div>

	<script>
		document.getElementById("queryButton").addEventListener("click", function () {
			// Send an AJAX request to your Go server to fetch ClickHouse data
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/getresult", true);
			xhr.onreadystatechange = function () {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var result = JSON.parse(xhr.responseText);
					displayResults(result);
				}
			};
			xhr.send();
		});

		function displayResults(data) {
			var resultTable = document.getElementById("resultTable");
			var tableHtml = "<table border='1'><tr>";

			// Assuming the first row contains column names
			for (var key in data[0]) {
				tableHtml += "<th>" + key + "</th>";
			}
			tableHtml += "</tr>";

			// Loop through the data and populate the table
			for (var i = 0; i < data.length; i++) {
				tableHtml += "<tr>";
				for (var key in data[i]) {
					tableHtml += "<td>" + data[i][key] + "</td>";
				}
				tableHtml += "</tr>";
			}
			tableHtml += "</table>";

			resultTable.innerHTML = tableHtml;
		}
	</script>
</body>

</html>